@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bs-heading: var(--bs-black);
  --image-primary-filter: invert(15%) sepia(95%) saturate(3129%) hue-rotate(263deg) brightness(87%) contrast(105%);
  --section-padding: 80px 0;
  --sidebarwidth: 280px;
  --nagativesidebarwidth: -280px;
}

.primary-border-hover:hover {
  border-color: var(--bs-primary) !important;
}

.text-primary-hover:hover .hover-this {
  color: var(--bs-primary);
}

.bg-primary-hover:hover {
  background: rgba(var(--bs-primary-rgb), var(--bg-primary-hover)) !important;
}

.bg-primary-hover:hover img:not(.notfilter) {
  filter: var(--image-primary-filter);
}

.line-clamp {
  --line-clamp: 2;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.btn {
  --bs-btn-padding-x: 10px;
  --bs-btn-padding-y: 10px;
  --bs-btn-font-size: 16px;
  --bs-btn-font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.btn i {
  --bs-btn-font-size: 16px;
}

.btn svg {
  --bs-btn-font-size: 16px;
}

.btn:hover svg {
  fill: var(--bs-primary);
}

.white-btn {
  background: white;
  color: var(--bs-dark);
}

.white-btn:hover {
  background: rgb(var(--bs-primary-rgb), 0.1);
  color: var(--bs-primary);
  border-color: var(--bs-primary) !important;
}

.white-btn:hover i {
  opacity: 1 !important;
}

.checkbox-btn {
  position: relative;
  overflow: hidden;
}

.checkbox-btn input[type=radio] {
  -webkit-appearance: none;
  border: none !important;
  margin: auto;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  left: 0px;
  width: 100%;
  height: 100%;
}

.checkbox-btn input[type=radio]:checked~label {
  background: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  color: white;
}

.checkbox-btn label {
  cursor: pointer;
  color: #4f4f4f;
  font-weight: 400;
  padding: 10px 15px;
  border: 1px solid #eeeeee;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.checkbox-btn label:hover {
  background: var(--primary-clr);
  color: white;
}

.extra-btn-padding-15 {
  padding: var(--bs-btn-padding-y) 15px;
}

.extra-btn-padding-20 {
  padding: var(--bs-btn-padding-y) 20px;
}

.extra-btn-padding-25 {
  padding: var(--bs-btn-padding-y) 25px;
}

.extra-btn-padding-30 {
  padding: var(--bs-btn-padding-y) 30px;
}

.extra-btn-padding-35 {
  padding: var(--bs-btn-padding-y) 35px;
}

.extra-btn-padding-40 {
  padding: var(--bs-btn-padding-y) 40px;
}

.extra-btn-padding-45 {
  padding: var(--bs-btn-padding-y) 45px;
}

.extra-btn-padding-50 {
  padding: var(--bs-btn-padding-y) 50px;
}

.extra-btn-padding-55 {
  padding: var(--bs-btn-padding-y) 55px;
}

.extra-btn-padding-60 {
  padding: var(--bs-btn-padding-y) 60px;
}

.extra-btn-padding-65 {
  padding: var(--bs-btn-padding-y) 65px;
}

.extra-btn-padding-70 {
  padding: var(--bs-btn-padding-y) 70px;
}

.extra-btn-padding-75 {
  padding: var(--bs-btn-padding-y) 75px;
}

.extra-btn-padding-80 {
  padding: var(--bs-btn-padding-y) 80px;
}

#layoutSidenav #layoutSidenav_nav {
  transition: 0.5s cubic-bezier(0.42, 0.97, 0.52, 1.49);
  z-index: 3;
  transform: translateX(var(--nagativesidebarwidth));
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4);
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }

  #layoutSidenav #layoutSidenav_content {
    margin-left: var(--sidebarwidth);
    transition: 0.5s cubic-bezier(0.42, 0.97, 0.52, 1.49);
  }

  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(var(--nagativesidebarwidth));
  }

  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
  }

  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}

#layoutSidenav #layoutSidenav_nav {
  border-right: 1px solid var(--bs-gray-200);
}

#layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-right: 0px;
}

.cover-nav {
  padding-top: 2vw;
  padding-bottom: 13vw;
  overflow: hidden auto;
}

.cover-nav::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.cover-nav:hover {
  /* Scrollbar-effect------- */
  overflow: hidden auto;
}

.cover-nav:hover::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.cover-nav:hover::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e4e4;
}

.cover-nav:hover::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cover-nav:hover::-webkit-scrollbar-thumb:hover {
  background: var(--bs-primary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

div [data-bs-parent="#sidenavAccordion"] {
  padding: 7px 0;
}

.cover-nav a[data-bs-toggle=collapse][aria-expanded=true] {
  color: var(--bs-primary) !important;
  background: rgba(var(--bs-primary-rgb), 0.1);
}

.cover-nav a[data-bs-toggle=collapse][aria-expanded=true] img {
  filter: var(--image-primary-filter);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}

.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
  position: relative;
}

.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
  position: relative;
  color: #333333;
  margin-left: 0px;
  transition: 0s;
  margin-bottom: 5px;
  font-weight: 400;
  border-radius: 13px;
  font-size: 15px;
  color: black;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link:not(.sb-sidenav-menu-nested a):hover {
  background: rgba(var(--bs-primary-rgb), 0.1);
  color: var(--bs-primary);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link:not(.sb-sidenav-menu-nested a):hover img {
  filter: var(--image-primary-filter);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link:not(.active):not(:last-child):not(.sb-sidenav-menu-nested a):hover {
  background: rgba(var(--bs-primary-rgb), 0.1);
  color: var(--bs-primary);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link:not(.active):not(:last-child):not(.sb-sidenav-menu-nested a):hover img {
  filter: var(--image-primary-filter);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.sidenav-sub-active {
  color: var(--bs-primary);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
  width: 21px;
  margin-right: 15px;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.active {
  background: #04AEEC;
  color: #fff;
  font-weight: 500;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.active img {
  filter: var(--image-primary-filter);
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 3.5rem;
  flex-direction: column;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested a {
  padding-block: 5px;
  padding-left: 15px;
  position: relative;
  margin-bottom: 3px;
  font-size: 14px;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested a::before {
  content: "";
  width: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--bs-primary);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 100ms;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested a:hover {
  color: var(--bs-primary);
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested a:hover::before {
  opacity: 1;
  visibility: visible;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested a.active {
  background: transparent;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested a.active::before {
  opacity: 1;
  visibility: visible;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}

.sb-sidenav .sb-sidenav-menu .nav.collapsed {
  transform: rotate(-90deg);
}

.logo {
  z-index: 1;
  height: 120px;
}

.sb-topnav {
  border-bottom: 1px solid var(--bs-gray-200);
  height: 90px;
}

.sb-topnav .nav-link {
  color: #767b89 !important;
}

button#sidebarToggle i {
  font-size: 24px;
}

.notify-dot {
  position: absolute;
  top: 0px;
  right: 0px;
  background: var(--bs-primary);
  width: 12px;
  height: 12px;
  border: 2px solid white;
  z-index: 1;
  line-height: 16px;
  text-align: center;
  border-radius: 50px;
}

.notify-dot p {
  color: white;
  font-size: 11px;
}

.profile img {
  width: 46px;
  aspect-ratio: 1;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid var(--bs-primary);
}

.profile>a img {
  width: 40px;
  border: 2px solid white;
  margin-right: -40px;
}

.profile>a>div {
  /* background: var(--bs-primary); */
  height: 40px;
  width: 144px;
  padding: 10px 10px 10px 27px;
  border-radius: 7px;
  text-align: center;
}

.profile>a>div h6 {
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile .dropdown-menu {
  --bs-dropdown-link-hover-bg: rgb(var(--bs-primary-rgb), 0.1);
  --bs-dropdown-link-hover-color: var(--bs-primary);
  --bs-dropdown-border-width: 0px;
  --bs-dropdown-border-radius: 10px;
  box-shadow: var(--bs-dropdown-box-shadow);
  padding: 0px !important;
}

.profile .dropdown-menu li a {
  padding: 13px 21px;
  color: #7a7f8b;
  font-size: 15px;
}

.profile .dropdown-menu li a:active,
.profile .dropdown-menu li a.active {
  background-color: #e9ecef;
}

.profile .dropdown-menu li a p {
  letter-spacing: 0.3px;
}

.profile .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid var(--bs-border-color);
}

.profile .dropdown-menu li:not(.dropdown-sub-menu a):last-child a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile .dropdown-menu.dropdown-sub-menu {
  max-height: 345px;
  overflow: auto;
}

.profile .dropdown-menu.dropdown-sub-menu li a:hover {
  background-color: rgb(var(--bs-primary-rgb), 0.1);
  color: var(--bs-primary);
}

.profile .dropdown-menu.dropdown-sub-menu li a:hover p {
  color: var(--bs-primary);
}

.dropstart .dropdown-menu.dropdown-sub-menu {
  border-radius: 5px;
  border-top-right-radius: 0px;
}

.DTable-top-elements {
  position: absolute;
  right: 0;
  display: flex;
  width: calc(100% - 163px);
  margin-left: auto;
}

.DTable-top-elements .search-bar {
  margin-left: auto;
}

.DTable-top-elements .search-bar i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #b0b0b0;
}

.DTable-top-elements .search-bar input {
  padding: 10px 20px;
  padding-left: 40px;
  border: 1px solid var(--border-clr);
  background: transparent;
}

.DTable-top-elements .search-bar input::-moz-placeholder {
  color: #b0b0b0;
  font-weight: normal;
}

.DTable-top-elements .search-bar input:-ms-input-placeholder {
  color: #b0b0b0;
  font-weight: normal;
}

.DTable-top-elements .search-bar input::placeholder {
  color: #b0b0b0;
  font-weight: normal;
}

.DTable-top-elements .search-bar input:focus {
  border: 1px solid var(--primary-clr);
}

.cover-datatable .dataTables_scroll {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 1.5rem;
}

.cover-datatable .dataTables_scrollBody {
  position: static !important;
}

.cover-datatable .dataTables_length {
  margin-bottom: 1.5rem;
}

.cover-datatable .dataTables_info {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

.cover-datatable .dataTables_info .select-info {
  display: none;
}

.cover-datatable .cover-tab-title {
  position: absolute;
}

.cover-datatable table {
  width: 100% !important;
  border-spacing: 0 1px;
  border: 1px solid #e0e0e0;
  background: white;
}

.cover-datatable table input[type=checkbox] {
  width: 18px;
  height: 18px;
  border: 1px solid rgba(123, 123, 123, 0.2);
  margin-top: 0;
}

.cover-datatable table .sorting::before,
.cover-datatable table .sorting::after {
  top: 50%;
  transform: translateY(-72%);
}

.cover-datatable table thead tr th {
  font-weight: 600;
  padding: 20px;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  color: #333333;
  box-shadow: 0px 1px var(--bs-border-color);
}

.cover-datatable table thead tr th:nth-child(1):not(.dt-checkboxes-cell) {
  width: 50px !important;
}

.cover-datatable table thead tr th.dt-checkboxes-cell {
  padding-inline: 10px;
}

.cover-datatable table thead tr th.dt-checkboxes-cell input {
  margin-right: 0;
}

.cover-datatable table tbody tr.selected>* {
  background: rgb(var(--bs-primary-rgb), 0.045);
  box-shadow: none;
  color: inherit;
}

.cover-datatable table tbody tr:not(:last-child) {
  box-shadow: 0px 1px var(--bs-border-color);
}

.cover-datatable table tbody tr td {
  border: none;
  padding-inline: 20px;
  padding-block: 17px;
  color: #444444;
  font-weight: 400;
  font-size: 15px;
  vertical-align: middle;
  white-space: nowrap;
}

.cover-datatable table tbody tr td.dt-checkboxes-cell {
  padding-inline: 10px;
}

.cover-datatable table tbody tr td.dt-checkboxes-cell input {
  margin-right: 0;
}

.cover-datatable table tbody tr td span {
  color: #767b89;
  font-size: 13px;
  display: block;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 70px;
  display: inline-block;
  padding: 10px;
  margin-left: 6px;
  margin-right: 6px;
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  padding: 10px;
  border: 1px solid var(--bs-border-color);
}

.dataTables_paginate ul.pagination li a {
  padding: 12px 20px;
  color: #666666;
}

.dataTables_paginate ul.pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
  box-shadow: none;
}

.dataTables_paginate ul.pagination .page-item:first-child a {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dataTables_paginate ul.pagination .page-item:first-child a:focus {
  box-shadow: none;
}

.dataTables_paginate ul.pagination .page-item:last-child a {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dataTables_paginate ul.pagination .page-item:last-child a:focus {
  box-shadow: none;
}

.dataTables_paginate ul.pagination .page-item.disabled a {
  color: #b7b7b7;
}

table.dataTable.dt-checkboxes-select tbody tr,
table.dataTable thead th.dt-checkboxes-select-all,
table.dataTable tbody td.dt-checkboxes-cell {
  cursor: pointer;
}

table.dataTable thead th.dt-checkboxes-select-all,
table.dataTable tbody td.dt-checkboxes-cell {
  text-align: center;
  min-width: 48px;
  max-width: 48px;
  padding-right: 0px !important;
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}

@media screen and (max-width: 640px) {

  div.dataTables_wrapper span.select-info,
  div.dataTables_wrapper span.select-item {
    margin-left: 0;
    display: block;
  }
}

.tabs-style-1 .tabs-links ul {
  gap: 5px;
}

.tabs-style-1 .tabs-links ul li {
  flex: 1;
}

.tabs-style-1 .tabs-links ul li button {
  color: #3a3a3a;
  font-size: 14px;
  padding: 6px 11px;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
}

.tabs-style-1 .tabs-links ul li button:not(.active):hover {
  color: var(--bs-primary);
}

.tabs-style-1 .tabs-links ul li button.active {
  background: rgb(var(--bs-primary-rgb), 0.1) !important;
  color: var(--bs-primary);
}

.tabs-style-1 .tab-content {
  margin-top: 20px;
  padding: 20px;
}

.cover-all-content {
  padding: clamp(15px, 5vw, 32px);
  padding-top: 2rem;
}

.cover-inner-content {
  margin-top: 2em;
}

.card {
  --bs-card-spacer-y: 1.5rem;
  --bs-card-spacer-x: 1.5rem;
  --bs-card-border-radius: 10px;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color);
  box-shadow: 0 4px 16px 0 rgba(169, 184, 200, 0.15);
  height: calc(100% - 20px);
  margin-bottom: 1.5rem;
}

.card-title {
  color: var(--bs-dark);
  font-weight: 500;
  font-size: 16px;
}

.dash::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 46px;
  border-bottom-right-radius: 11px;
  border-top-right-radius: 6px;
  top: 10%;
  right: 30%;
  background: rgba(255, 255, 255, 0.135);
  transform: rotate(35deg);
}

.dash::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 48px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 3px;
  top: -4%;
  right: 50%;
  background: rgba(255, 255, 255, 0.135);
  transform: rotate(35deg);
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
  background: rgb(var(--bs-primary-rgb), 0.1) !important;
  color: var(--bs-primary) !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option.xdsoft_current {
  background: rgb(var(--bs-primary-rgb), 0.1);
  box-shadow: none !important;
  color: var(--bs-primary) !important;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
  margin-left: 0;
  background-image: none;
  width: 100%;
  height: 20px;
  float: inherit;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option:hover {
  background: var(--bs-primary) !important;
}

.xdsoft_datetimepicker {
  font-family: "Poppins", sans-serif !important;
  padding-bottom: 0;
  padding-top: 0;
  border: 1px solid var(---bs-border) !important;
  border-radius: 8px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.xdsoft_datetimepicker .xdsoft_month {
  width: 105px;
}

.xdsoft_datetimepicker .xdsoft_year {
  width: 60px;
}

.xdsoft_datetimepicker .xdsoft_current {
  font-weight: 500 !important;
}

.xdsoft_datetimepicker .xdsoft_datepicker {
  width: 270px;
  margin-left: 0;
}

.xdsoft_datetimepicker .xdsoft_datepicker .xdsoft_label span {
  font-weight: 500;
  color: #7b7b7b;
}

.xdsoft_datetimepicker .xdsoft_datepicker .xdsoft_label .xdsoft_select {
  border-radius: 6px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--bs-border) !important;
}

.xdsoft_datetimepicker .xdsoft_datepicker .xdsoft_label .xdsoft_select>div>.xdsoft_option:not(:last-child) {
  border-bottom: 1px solid var(--bs-border);
  padding: 5px 13px !important;
}

.xdsoft_datetimepicker .xdsoft_datepicker .xdsoft_label .xdsoft_select .xdsoft_option {
  font-weight: 500;
  font-size: 13px;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
  font-weight: 500;
}

.xdsoft_datetimepicker .xdsoft_calendar td {
  text-align: center !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  color: var(--bs-primary);
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today.xdsoft_current {
  color: white;
}

.xdsoft_datetimepicker .xdsoft_calendar th,
.xdsoft_datetimepicker .xdsoft_calendar td {
  width: 14%;
  height: 33px;
}

.xdsoft_datetimepicker .xdsoft_timepicker {
  margin-left: 0;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev {
  position: relative;
  margin-top: 8px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev::before {
  content: "\f286";
  width: 0;
  font-family: "bootstrap-icons";
  position: absolute;
  top: -5px;
  left: 32%;
  opacity: 1;
  font-size: 20px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
  position: relative;
  margin-bottom: 8px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next::before {
  content: "\f282";
  width: 0;
  font-family: "bootstrap-icons";
  position: absolute;
  top: -5px;
  left: 32%;
  opacity: 1;
  font-size: 20px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
  border-radius: 5px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div {
  border-top: 1px solid var(--bs-border);
  height: 30px;
  line-height: 30px;
}

.xdsoft_datetimepicker .xdsoft_save_selected {
  display: none !important;
}

.xdsoft_scrollbar {
  width: 5px;
}

.xdsoft_scrollbar>.xdsoft_scroller {
  background: var(--bs-primary);
}

.DateCard {
  padding: 8px var(--input-padding);
  box-shadow: none;
  border: 1px solid var(--bs-border);
  color: #7b7b7b;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
  height: var(--minHeight);
}

.DateCard input {
  border: none;
  height: 20px !important;
  width: 125px;
  font-size: 14px;
  color: #828282;
  padding: 0;
  font-weight: 400;
}

.DateCard input:last-child {
  padding-left: 5px;
}

.DateCard i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #7b7b7b;
}

.DateCard {
  padding-left: 45px;
}

.DateCard input {
  width: 80px;
}

.DateCard p {
  margin-right: 4px;
}

.DateCard i {
  right: inherit;
  left: 17px;
}

#dunotchart .apexcharts-legend {
  top: 50% !important;
  transform: translateY(-50%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#dunotchart .apexcharts-legend .apexcharts-legend-series {
  display: flex;
  align-items: center;
  gap: 10px;
}

#dunotchart .apexcharts-legend .apexcharts-legend-series .apexcharts-legend-marker {
  width: 18px !important;
  height: 18px !important;
  border-radius: 0px !important;
}

#dunotchart .apexcharts-legend .apexcharts-legend-series .apexcharts-legend-text {
  font-family: inherit !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dunotchart .apexcharts-legend .apexcharts-legend-series:not(:last-child) {
  margin-bottom: 10px !important;
}

.dropdownStyle-v1 button,
.dropdownStyle-v2 button {
  font-weight: 400;
}

.dropdownStyle-v1 li a i,
.dropdownStyle-v2 li a i {
  color: #777777;
}

.dropdownStyle-v1 .dropdown-menu,
.dropdownStyle-v2 .dropdown-menu {
  border: none;
  padding: 0;
  box-shadow: 0px 0px 32px 0px #eeeeee;
}

.dropdownStyle-v1 .dropdown-menu li a,
.dropdownStyle-v2 .dropdown-menu li a {
  padding: 13px 20px !important;
  font-size: 15px;
}

.dropdownStyle-v1 .dropdown-menu li a:hover,
.dropdownStyle-v2 .dropdown-menu li a:hover {
  background: transparent;
  color: var(--bs-primary);
  margin-left: 3px;
}

.dropdownStyle-v1 .dropdown-menu li a.delete,
.dropdownStyle-v2 .dropdown-menu li a.delete {
  color: #e20000;
}

.dropdownStyle-v1 .dropdown-menu li:not(:last-child),
.dropdownStyle-v2 .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid var(--bs-border-color);
}

.dropdownStyle-v1 .dropdown-menu.hover-move-none li a:hover,
.dropdownStyle-v2 .dropdown-menu.hover-move-none li a:hover {
  margin-left: 0;
}

.dropdownStyle-v2 .dropdown-menu li a:hover {
  background: rgb(var(--bs-primary-rgb), 0.1);
  margin-left: initial;
}

.dropdown-list-arrow>li {
  --border-width: 10px;
  position: relative;
}

.dropdown-list-arrow>li::before {
  content: "";
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px white;
  height: 0;
  width: 0;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.dropdown-list-arrow[data-popper-placement=bottom]>li:first-child::before {
  display: block;
}

.dropdown-list-arrow[data-popper-placement=top] {
  margin-bottom: 0.5rem !important;
}

.dropdown-list-arrow[data-popper-placement=top]>li:last-child::before {
  display: block;
  top: initial;
  bottom: -9px;
  left: 45%;
  transform: rotate(180deg);
}

.caret-none::before,
.caret-none::after {
  display: none !important;
}

.cover-signup {
  min-height: 100vh;
  padding: clamp(2rem, 6vw, 4rem);
  display: grid;
  place-content: stretch;
  background-attachment: fixed !important;
}

.cover-signup .signup .left-box {
  position: relative;
  flex-basis: 50%;
  height: 100%;
  padding: 20px 3rem;
  text-align: center;
}

.cover-signup .signup .left-box.login-show-right {
  box-shadow: 2px 0px 10px rgba(var(--primary-rgb-clr), 0.6);
}

.cover-signup .signup .left-box.login-show-left {
  box-shadow: -2px 0px 10px rgba(var(--primary-rgb-clr), 0.6);
}

.cover-signup .signup .left-box img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  filter: brightness(0) invert(1);
}

.cover-signup .signup .left-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(149.91deg, rgba(var(--primary-rgb-clr), 1) 0.76%, rgba(var(--secondary-rgb-clr), 1) 100%);
  mix-blend-mode: multiply;
  z-index: -1;
}

.cover-signup .signup .left-box h3 {
  font-size: 35px;
  font-weight: 600;
}

.cover-signup .signup .left-box h3,
.cover-signup .signup .left-box p {
  color: white;
}

.cover-signup .signup .left-box ul li a {
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  padding: 10px 80px;
}

.cover-signup .signup .left-box ul li a:hover {
  background: white;
  color: black;
}

.cover-signup .signup .right-box {
  height: 100%;
  flex-basis: 50%;
  padding: clamp(17px, 5vw, 40px);
  background: white;
}

.cover-signup .signup .right-box h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
}

.Login-bg-line::before {
  content: "";
  width: 200%;
  height: 60%;
  background: rgb(var(--bs-primary-rgb), 0.3);
  position: absolute;
  top: 40%;
  left: -40%;
  transform: rotate(-23deg);
}

.deactive-status p,
.block-status p,
.rejected-status p,
.cancelled-status p,
.accepted-status p,
.active-status p,
.paid-status p,
.published-status p,
.contacted-status p,
.success-status p,
.compeleted-status p,
.delivery-status p,
.feature-status p,
.pendingapproval-status p,
.pending-status p,
.draft-status p,
.notactive-status p {
  background: #eeeeee;
  color: #8c8c8c;
  margin: 0;
  padding: 5px 12px;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.pending-status,
.draft-status,
.notactive-status {
  display: inline-block;
}

.feature-status,
.pendingapproval-status {
  display: inline-block;
}

.feature-status p,
.pendingapproval-status p {
  background: rgba(234, 183, 0, 0.2);
  color: #eab700;
}

.active-status,
.paid-status,
.published-status,
.contacted-status,
.success-status,
.compeleted-status,
.delivery-status {
  display: inline-block;
}

.active-status p,
.paid-status p,
.published-status p,
.contacted-status p,
.success-status p,
.compeleted-status p,
.delivery-status p {
  background: rgba(49, 148, 100, 0.2);
  color: #319464;
}

.accepted-status {
  display: inline-block;
}

.accepted-status p {
  background: rgba(0, 200, 189, 0.2);
  color: #00c8bd;
}

.deactive-status,
.block-status,
.rejected-status,
.cancelled-status {
  display: inline-block;
}

.deactive-status p,
.block-status p,
.rejected-status p,
.cancelled-status p {
  background: rgba(226, 0, 0, 0.2);
  color: #e20000;
}

.draft-status {
  display: inline-block;
}

.draft-status p {
  background: #eeeeee;
  color: #959995;
}

.off-status {
  padding: 5px 8px;
  border-radius: 5px;
  background: var(--primary-clr);
  position: absolute;
  top: 10px;
  left: 10px;
}

.off-status p {
  color: white;
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  line-height: normal;
}

.Tpending-status,
.Tdraft-status {
  color: #6c757d;
}

.Tprocessing-status,
.Tcancel-status,
.Tunpaid-status,
.Tunsuccess-status {
  color: #fb6131;
}

.Tdelivered-status,
.Tactive-status,
.Tstock-status,
.Tpaid-status,
.Tsuccess-status {
  color: #589d00;
}

::-webkit-scrollbar {
  width: 9px;
  height: 0.6em;
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
  border-radius: 100vw;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-moz-selection {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), 0.1);
  text-shadow: none;
}

::selection {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), 0.1);
  text-shadow: none;
}

/*# sourceMappingURL=main.css.map */


.list:not(:first-child)::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  z-index: -1;
  left: -50%;
  top: -21px;
}


/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  width: 33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  line-height: 39px;
  display: block;
  font-size: 14px;
  color: #000;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ddd;
  position: absolute;
  left: -50%;
  top: 20px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #04AEEC;
  color: white;
}

.color-radio-red:checked+label:after {
  background-color: #DD6267;
  border: 2px solid #DD6267;

}



.notify {
  padding: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
  width: 250px;
  border: 1px solid #eee;
  position: absolute;
  left: -50px;
  /* top: 10px; */
  background: #fff;
  border-radius: 10px;
}
